@import './preloader.scss';

.logo {
    max-width: 100px;
}

.navbar {
    height: 100px ;
}

.home {
    h1 {
      margin: 25px;
    }
}

.form-control, .list-group {
    margin: 5px;
}

.form {
    margin: 10px 0;
}

.list-group-item {
    border: none;
}

.remove-item {
    cursor: pointer;
}