@import './todo.scss';

.App {
    font-family: 'Noto Sans', sans-serif;
}

.logo {
    max-width: 100px;
}

.navbar {
    height: 100px ;
}

.home {
    h1 {
      margin: 25px;
    }
}

.form {
    padding-top: 30px;
}

.form-control, .list-group {
    padding: 20px;
}
