@import './preloader.scss';

.logo {
    max-width: 100px;
}

.navbar {
    height: 100px ;
}

.home {
    h1 {
      margin: 25px;
    }
}

.form-control, .list-group {
    margin: 5px;
}

.form {
    margin: 10px 0;
}

.list-group-item {
    @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
    font-family: 'Quicksand', sans-serif;
    border: none;
}

.remove-item {
    cursor: pointer;
}

.todo-completed {
    background-color: lighten(lightsteelblue, 15%);
    opacity: 0.7;
    transform: scale(0.9);
}